.ui-dialog-titlebar-close {
  visibility: hidden;
}

.rdfa-marker-subject {
  background-color: lawngreen;
  font-weight: bold;
}

.rdfa-marker-object {
  background-color: yellow;
  font-weight: bold;
}

.rdfa-marker-world-property {
  background-color: darkGray;
  font-weight: bold;
}

.rdfa-marker-join {
  background-color: fuchsia;
  font-weight: bold;
}